.precomp/
.idea/
app/html/
raku-alt-documentation.iml
trial/
.sass-cache/
/Website/templates/pod.css.map
raku-collection-raku-documentation.iml
raku-collection-rakudocs.iml
Website/.sass-cache
Website/plugins/website/website-div-styling.css.map
renew-site
sync-site
/analysis/
/Website/plugins/raku-styling/raku-default-styling.css.map
/resources/website.rar
/Website/plugins/listfiles/listf-styling.css.map
font-awesome-4.7.0/
font-awesome-4.7.0.zip

/*.css
/Website/plugins/images/*.css.map
/*.css.map
/Website/plugins/images/.css
/Website/plugins/images/.css.map
/Website/plugins/font-awesome/font-awesome.min.css
/Website/plugins/images/image-styling.css.map
/Website/plugins/link-error-test/let-styling.css.map
